﻿*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}


body{
color:lightgreen;
background:blue;
font-size:35px;

}

#p1{
	float: left;
}

#aS{
	padding-top: 55px;
	
	animation: titleAnimation;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	
}

.contents{
	background-color: #04AA6D;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	
	
}

.dropdown{
	position: relative;
	display: inline-block;
	
}

.dmenu{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 107px;
	padding-right: 1px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
}

.dmenu a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
}

.dmenu a:hover{
	background-color: #ddd;
	
	
}

.dropdown:hover .dmenu{
	display: block;
	
}

.dropdown:hover .contents{
	background-color: #3e8e41;
	
}


.bmaps{
	background-color: #04AA6D;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	margin-left: -8px;
	
}

.bdropdown{
	position: relative;
	display: inline-block;
	
}

.bdmenu{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 107px;
	padding-right: 1px;
	padding-left: 1px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
}

.bdmenu a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
}

.bdmenu a:hover{
	background-color: #ddd;
	
	
}

.bdropdown:hover .bdmenu{
	display: block;
	
}

.bdropdown:hover .bmaps{
	background-color: #3e8e41;
	
}

.ctables{
	background-color: #04AA6D;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	margin-left: -8px;
	
}

.cdropdown{
	position: relative;
	display: inline-block;
	
}

.cdmenu{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 107px;
	padding-right: 1px;
	padding-left: 1px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
}

.cdmenu a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
}

.cdmenu a:hover{
	background-color: #ddd;
	
	
}

.cdropdown:hover .cdmenu{
	display: block;
	
}

.cdropdown:hover .ctables{
	background-color: #3e8e41;
	
}

.dtextfigures{
	background-color: #04AA6D;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	margin-left: -7px;
	
}

.ddropdown{
	position: relative;
	display: inline-block;
	
}

.ddmenu{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 107px;
	padding-right: 1px;
	padding-left: 1px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
}

.ddmenu a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
}

.ddmenu a:hover{
	background-color: #ddd;
	
	
}

.ddropdown:hover .ddmenu{
	display: block;
	
}

.ddropdown:hover .dtextfigures{
	background-color: #3e8e41;
	
}

.epreface{
	background-color: #04AA6D;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	margin-left: -8px;
	
}

.edropdown{
	position: relative;
	display: inline-block;
	
}

.edmenu{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 107px;
	margin-left: 15px;
	padding-right: 1px;
	padding-left: 1px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
}

.edmenu a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
}

.edmenu a:hover{
	background-color: #ddd;
	
	
}

.edropdown:hover .edmenu{
	display: block;
	
}

.edropdown:hover .epreface{
	background-color: #3e8e41;
	
}

.fch1{
	background-color: #04AA6D;
	color: crimson;
	padding: 16px;
	font-size: 16px;
	border: none;
	margin-left: -8px;
	
}

.fdropdown{
	position: relative;
	display: inline-block;
	
}

.fdmenu{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 107px;
	padding-right: 1px;
	padding-left: 1px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
}

.fdmenu a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
}

.fdmenu a:hover{
	background-color: #ddd;
	
	
}

.fdropdown:hover .fdmenu{
	display: block;
	
}

.fdropdown:hover .fch1{
	background-color: #3e8e41;
	
}

.gch2{
	background-color: #04AA6D;
	color: violet;
	padding: 16px;
	font-size: 16px;
	border: none;
	margin-left: -7px;
	
}

.gdropdown{
	position: relative;
	display: inline-block;
	
}

.gdmenu{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 107px;
	padding-right: 1px;
	padding-left: 1px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
}

.gdmenu a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
}

.gdmenu a:hover{
	background-color: #ddd;
	
	
}

.gdropdown:hover .gdmenu{
	display: block;
	
}

.gdropdown:hover .gch2{
	background-color: #3e8e41;
	
}

.hch3{
	background-color: #04AA6D;
	color: yellow;
	padding: 16px;
	font-size: 16px;
	border: none;
	margin-left: -7px;
	
}

.hdropdown{
	position: relative;
	display: inline-block;
	
}

.hdmenu{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 107px;
	padding-right: 1px;
	padding-left: 1px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
}

.hdmenu a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
}

.hdmenu a:hover{
	background-color: #ddd;
	
	
}

.hdropdown:hover .hdmenu{
	display: block;
	
}

.hdropdown:hover .hch3{
	background-color: #3e8e41;
	
}

.ich4{
	background-color: #04AA6D;
	color: indigo;
	padding: 16px;
	font-size: 16px;
	border: none;
	margin-left: -8px;
	
}

.idropdown{
	position: relative;
	display: inline-block;
	
}

.idmenu{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 107px;
	padding-right: 1px;
	padding-left: 1px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
}

.idmenu a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
}

.idmenu a:hover{
	background-color: #ddd;
	
	
}

.idropdown:hover .idmenu{
	display: block;
	
}

.idropdown:hover .ich4{
	background-color: #3e8e41;
	
}

.jch5{
	background-color: #04AA6D;
	color: chartreuse;
	padding: 16px;
	font-size: 16px;
	border: none;
	margin-left: -8px;
	
}

.jdropdown{
	position: relative;
	display: inline-block;
	
}

.jdmenu{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 107px;
	padding-right: 1px;
	padding-left: 1px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
}

.jdmenu a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
}

.jdmenu a:hover{
	background-color: #ddd;
	
	
}

.jdropdown:hover .jdmenu{
	display: block;
	
}

.jdropdown:hover .jch5{
	background-color: #3e8e41;
	
}

.kch6{
	background-color: #04AA6D;
	color: lightgrey;
	padding: 16px;
	font-size: 16px;
	border: none;
	margin-left: -8px;
	
}

.kdropdown{
	position: relative;
	display: inline-block;
	
}

.kdmenu{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 107px;
	padding-right: 1px;
	padding-left: 1px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
}

.kdmenu a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
}

.kdmenu a:hover{
	background-color: #ddd;
	
	
}

.kdropdown:hover .kdmenu{
	display: block;
	
}

.kdropdown:hover .kch6{
	background-color: #3e8e41;
	
}

.lch7{
	background-color: #04AA6D;
	color: brown;
	padding: 16px;
	font-size: 16px;
	border: none;
	margin-left: -8px;
	
}

.ldropdown{
	position: relative;
	display: inline-block;
	
}

.ldmenu{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 107px;
	padding-right: 1px;
	padding-left: 1px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
}

.ldmenu a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
}

.ldmenu a:hover{
	background-color: #ddd;
	
	
}

.ldropdown:hover .ldmenu{
	display: block;
	
}

.ldropdown:hover .lch7{
	background-color: #3e8e41;
	
}

.mch8{
	background-color: #04AA6D;
	color: red;
	padding: 16px;
	font-size: 16px;
	border: none;
	margin-left: -8px;
	
}

.mdropdown{
	position: relative;
	display: inline-block;
	
}

.mdmenu{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 107px;
	padding-right: 1px;
	padding-left: 1px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
}

.mdmenu a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
}

.mdmenu a:hover{
	background-color: #ddd;
	
	
}

.mdropdown:hover .mdmenu{
	display: block;
	
}

.mdropdown:hover .mch8{
	background-color: #3e8e41;
	
}

.nch9{
	background-color: #04AA6D;
	color: orange;
	padding: 16px;
	font-size: 16px;
	border: none;
	margin-left: -8px;
	
}

.ndropdown{
	position: relative;
	display: inline-block;
	
}

.ndmenu{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 107px;
	padding-right: 1px;
	padding-left: 1px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
}

.ndmenu a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
}

.ndmenu a:hover{
	background-color: #ddd;
	
	
}

.ndropdown:hover .ndmenu{
	display: block;
	
}

.ndropdown:hover .nch9{
	background-color: #3e8e41;
	
}

.och10{
	background-color: #04AA6D;
	color: marine;
	padding: 16px;
	font-size: 16px;
	border: none;
	margin-left: -8px;
	
}

.odropdown{
	position: relative;
	display: inline-block;
	
}

.odmenu{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 107px;
	padding-right: 1px;
	padding-left: 1px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
}

.odmenu a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
}

.odmenu a:hover{
	background-color: #ddd;
	
	
}

.odropdown:hover .odmenu{
	display: block;
	
}

.odropdown:hover .och10{
	background-color: #3e8e41;
	
}

.pbblgrabbr{
	background-color: #04AA6D;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	margin-left: -8px;
	
}

.pdropdown{
	position: relative;
	display: inline-block;
	
}

.pdmenu{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 107px;
	padding-right: 1px;
	padding-left: 1px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
}

.pdmenu a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
}

.pdmenu a:hover{
	background-color: #ddd;
	
	
}

.pdropdown:hover .pdmenu{
	display: block;
	
}

.pdropdown:hover .pbblgrabbr{
	background-color: #3e8e41;
	
}


#contents a{
	color: lightgreen;
	text-decoration: none;
}

#fn, #ln, #navB{
	padding:5px;
	
	font-weight:bold;
	font-size:35px;
}

#navB{
	background-color:green;
	
}

#red, #redPr{
	color:red;
}
#green{
	color:lightgreen;
}
#yellow{
	color:yellow;
}
#brown{
	color:brown;
}
#orange{
	color:orange;
}
#crimson{
	color:crimson;
}
#grey{
	color:lightgrey;
}

@keyframes titleAnimation{
	100%{transform:translate(1400px, 0);}
	
}

.preface{
	width: 64%;
	margin: 0px;
	padding: 21px;
	
	background: darkgreen;
	text-transform: uppercase;
	text-justify: auto;
	
}

.cnt{
	
	width: 35%;
	padding-left: 2px;
	margin-left: 2px;
			
	float: right;
	font-style: italic;
	background-color: yellow;
	color: brown;
	position: fixed;
	
}

.pr, .preface, .cnt{
	margin: 0px;
	display: inline-block;
}



